{% if breadcrumb %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-4 animated slideInDown">{{current}}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    {% for item in breadcrumb %}
                        {% if current == item %}
                            <li class="breadcrumb-item active" aria-current="page" >{{item}}</li>
                        {% else %}
                            <li class="breadcrumb-item">
                                <a href="#">{{item}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
{% endif %}